.page-title {
  text-align: center;
  font: 500 35px/1.25 Raleway;
  margin: 0 0 20px;
}
.page-subtitle {
  text-align: center;
  font: 500 30px/1.25 Raleway;
  margin: 0 0 20px;
}
.comments-section {
  margin: 0 0 20px;
}